body{
    margin: 0;
    /* Márgen pa´ dentro */
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

/**********************************************/
/****************************************/
/********************************/
/* Navegación */

header{
    width: 100%;
    height: 60px;

}

header nav{
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 300px;
    height: auto;
    /* Eliminar viñetas */
    list-style: none;
    /* Flexibilidad a nuestro componente */
    display: flex;
    /* Centrar horizontalmente dentro del espacio de la lista */
    justify-content: center;
    /* Centrar verticalmente en el espacio de la lista */
    align-items: center;
}

a{
    /* Para eliminar la línea debajo del texto */
    text-decoration: none;
}

nav .nav-right-section a{
    color: rgb(21,21,21);
    margin-right: 20px;

}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    /* Modifica el tamaño de la imagen al tamaño del contenedor */
    background-size: contain;
    /* Para eliminar la repetición de elementos */
    background-repeat: no-repeat;
}

nav .nav-right-section img{
    /* Redondear bordes */
    border-radius: 30px;
    margin-left: 20px;
    width: 35px;
}

/**********************************************/
/****************************************/
/********************************/
/* Main */

main{
    margin-top: 130px;
    text-align: center;
}

/* Sección logo */
main .main-logo{
    width: 530px;
    /* Setea 0 al margen de arriba y abajo -- auto (setea en auto bordes de izquierda y derecha) */
    /* Vertical | horizontal */
    margin: 0 auto;
    margin-bottom: 40px;
}

/* Logo */
main .main-logo img{
    height: 100px;
}

/* Sección input */
main .main-input{
    width: 550px;
    margin: 0 auto;
    /* ---Este margen fue agregado para los botones inferiores --- */
    margin-bottom: 40px;
}

/* Caja con bordes redondeados */
main .main-input-container{
    /* Borde pide 3 valores - anchura de línea, estilo y color */
    /* style: dotted, solid, inset... */
    border: 1px solid #dfe1e5;
    /* bordes redondos */
    border-radius: 20px;
    width: 525px;
    /* Componentes flexibles y que se muevan */
    /* CENTRADO */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Cajita de input */
main .main-input input{
    height: 40px;
    border: none;
    /* outline - borde cuando seleccionas elemento */
    outline: none;
    width: 430px;
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg
    );
    background-size: contain;
    padding-left: 6%;
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 15px;
}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    height: 17px;
    width: 17px;
    background-size: contain;
    background-position: center;
    padding-left: 1%;
    background-repeat: no-repeat;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    background-position: center;
    /* contain - para contener dentro de la caja al tamaño máximo */
    background-size: contain;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    padding-right: 6%;
}

/* Botones */
main .main-buttons{
    width: 550px;
    /* En margin el primer valor es vertical y en segundo horizontal */
    margin: 0 auto;
}

main .main-buttons div{
    /* inline-block - para que los botones estén en la misma línea horizontal */
    display: inline-block;
}

main .main-buttons button{
    /* Color de los botones */
    background-color: #f8f9fa;
    border: none;
    height: 40px;
    font-size: 16px;
    /* Color del texto del botón */
    color: #3c4043;
    /* 0 es espacio vertical | 15 es espacio horizontal */
    /* Espacio entre texto y borde de los botones */
    padding: 0 15px;
    border-radius: 4px;
    margin-right: 10px;
}

/* HOVER - EFECTO DE SOMBRA AL PASAR EL MOUSE */
main .main-input-container:hover{
     /* offset-x | offset-y | blur-radius | color */
     box-shadow: 1px 1px 5px #20212447;
}

main .main-buttons button:hover{
    color: #202124;
    border: 1px solid #dadce0;
    box-shadow: 0 1px 2px #20212447;

    /* Todo lo que vaya dentro del hover es lo que va a pasar al sobreponer el mouse */
}

footer{
    width: 100%;
    height: 60px;
}

footer .footer-left{
    list-style: none;
    display: flex;
    justify-content: left;
}

footer .footer-right{
    list-style: none;
    display: flex;
    justify-content: right;
    margin-right: 20px;
}